# Ignore local node_modules and build folders
node_modules
.next

# Ignore version control
.git
.gitignore

# Ignore Docker-related files
.dockerignore
Dockerfile

# Ignore environment variables and logs
.env
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore documentation
README.md